@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* My style debugger */
  /* outline: 1px red solid; */
}

@layer base {
  :root {
    --foreground: rgb(0, 0, 0);
    --background: rgb(251, 251, 254);
    --primary: rgb(249, 193, 52);
    --secondary: rgb(0, 0, 153);
    --accent: rgb(240, 144, 0);
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --foreground: rgb(255, 255, 255);
      --background: rgb(1, 1, 4);
      --primary: rgb(249, 193, 52);
      --secondary: rgb(0, 0, 153);
      --accent: rgb(255, 159, 15);
    }
  } */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: SF Pro Display, sans-serif;
}

::selection {
  background: var(--primary);
  color: var(--foreground);
}

/* Scrollbar Styles */
*::-webkit-scrollbar {
  background-color: #f0f0f0;
  scrollbar-width: thin;
}

*::-webkit-scrollbar-track {
  background: #dcdcdc;
}

*::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
}

/* ________________________CSS Skeleton_________________*/

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(20%, rgba(255, 255, 255, 0.2)),
    color-stop(60%, rgba(255, 255, 255, 0.5)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 3s infinite;
  animation: shimmer 3s infinite;
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/* Scrollbar Styles for Scrollable Container*/
.scrollable-container {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.scrollable-container::-webkit-scrollbar {
  width: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #404040;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.AppPromotionBanner {
  background: linear-gradient(
    90deg,
    #feecff 0%,
    #fecaff 12%,
    #feb5ff 27%,
    #fdbde7 40%,
    #fff4d6 49%,
    #f3fcd7 59%,
    #d2f5ee 71%,
    #c3efff 84%,
    #fbebff 100%
  );
}
